# Django settings
DJANGO_SECRET_KEY=testsecretkey
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_SETTINGS_MODULE=ip_streamer.settings

# Database
POSTGRES_DB=streamer_db
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123
POSTGRES_HOST=db
POSTGRES_PORT=5432


# Redis (broker + cache)
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1

# Localization
LANGUAGE_CODE=en-us
TIME_ZONE=Africa/Cairo
CELERY_TIMEZONE=Africa/Cairo

# Redis/Celery Configuration
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
REDIS_CACHE_LOCATION=redis://redis:6379/1

# Throttling Rates
DEFAULT_THROTTLE_RATE=60/minute
DEFAULT_THROTTLE_RATE_DAILY=1000/day

IPINFO_BASE_URL=https://api.ipinfo.io/lite/
IPINFO_TOKEN=57014238931e3e
IPINFO_HTTP_TIMEOUT_SECONDS=10
IP_LOOKUP_CACHE_TTL_SECONDS=3600
IP_LOOKUP_JOB_TTL_SECONDS=3600